/* css resets */
body, p, ul{
    margin: 0;
    padding: unset;
}

h1, h2{
    margin: unset;
    padding: unset;
    font-size: unset;
    font-weight: unset;
}

ul{
    list-style-type: none; 
}

.video_box li{
    display: inline-block;
}

/* typography */
:root{
    font-family: 'arial';
}

/* design */
body {
    background-image: url(images/header-bg.png);
    background-size: cover;
    background-position: center;
}

.l_wrapper1{
    width: 960px;
    margin: 100px auto;
}

.text_box{
    border: 30px solid #FFA500;
    padding: 60px;
    box-sizing: border-box;

    background-image: url(images/container-bg.png);
    background-repeat: no-repeat;
    background-position: right 54px top 54px;
}

.text_box h1{
    font-size: 32px;
    color: #FFA500;
    letter-spacing: 0.19em;
}

.text_box h1::after{
    display: block;
    content: '';
    border-bottom: 4px solid #FFA500;
    border-radius: 12px;
    width: 373px;
    margin-bottom: 20px;
}

.text_box p{
    width: 482px;
    font-size: 16px;
    color: #FFA500;
    line-height: 1.63em;
    padding: 6px 0 10px 0;
}

.l_wrapper2{
    margin-top: -130px;
}

.video_box{
    background-color:#ddd;
    display: flow-root;
}

.video_box ul{
    width: 970px;
    margin: 30px auto;
}

.video_box li{
    background-color: #fff;
    width: 300px;
    border-radius: 6px;
}

.video_box li:nth-child(2){
    margin: 0 30px 0;
}

.video_box img{
    border-radius: 6px 6px 0 0;
    border-bottom: 4px solid #FFA500;
}

.video_box h2{
    background-image: url(images/play.png);
    background-repeat: no-repeat;
    background-position: right;

    color: #FFA500;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0 15px 10px ;
}


.footer{
    background-color: #fff;
    color: #aaa;
    font-size: 14px;
    text-align: center;
    font-weight: bold;

    letter-spacing: 0.29em;
    padding: 18px;
    border-top: 2px solid #aaa;
}